<div class="container">
  <div class="header__section">
    <div class="header__content">
        <h3 class="header__content__title">{{title}}</h3>
        <h1 class="header__content__subtitle">{{description}}</h1>
        <p class="header__content__paragraph">{{paragraph}}</p>
          <button class="header__button">
          <a class="email" href="mailto:williamr723@gmail.com">
            {{Contact}}
          </a>
          </button>
    </div>
    <img class="header__photo" src="{{photo}}" alt="photo">
  </div>

</div>

