<div class="container">

  <div class="container__content">

    <div class="container__title">
      <h1>Portifolio Template</h1>
    </div>
    <div class="separetor">

    </div>
    <div class="container__description">
      <h2>Export your designs to HTML code</h2>
    </div>

  </div>
  <div class="container__profile">

    <div class="container-card">

      <app-card></app-card>
    </div>
    <div class="container-gallery">
      <app-gallery></app-gallery>

    </div>
  </div>
</div>


